<% if @page.exclusive -%>
<div class='exclusive'>&nbsp;</div>
<% end -%>

<%= @page.text.html_safe %>

<% content_for :javascript_footer do %>
  $('.header_page_<%= @page.id %>').addClass('active');
<% end %>

